#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998;
  background-color: #000;
  display: none;
}

#content-overlay .window {
  position: fixed;
  display: none;
  z-index: 9999;
  background-color: #fff;
}

#content-overlay .close {
  position: absolute;
  top: -20px;
  right: 0;
  color: #fff;
}

#content-overlay .login-buttons {
  background: url('images/button-bg.gif');
  height: 45px;
}

#content-overlay .login-buttons div {
  float: left;
}